#reactApp {
  min-width: 50rem;
  max-width: 90%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.textarea-query {
  width: 100%;
  min-height: 10rem;
  resize: none;
  text-align: left;
  white-space: pre-line;
  border: 1px solid white;
  box-sizing: border-box;
}